<a><img src="https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width="200" align="center"></a>

<h1>Analyzing US Economic Data and  Building a Dashboard  </h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some essential economic indicators from some data, you will then display these economic indicators in a Dashboard. You can then share the dashboard via an URL.
<p>
<a href="https://en.wikipedia.org/wiki/Gross_domestic_product"> Gross domestic product (GDP)</a> is a measure of the market value of all the final goods and services produced in a period. GDP is an indicator of how well the economy is doing. A drop in GDP indicates the economy is producing less; similarly an increase in GDP suggests the economy is performing better. In this lab, you will examine how changes in GDP impact the unemployment rate. You will take screen shots of every step, you will share the notebook and the URL pointing to the dashboard.</p>

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li><a href="#Section_1"> Define a Function that Makes a Dashboard </a></li>
    <li><a href="#Section_2">Question 1: Create a dataframe that contains the GDP data and display it</a> </li>
    <li><a href="#Section_3">Question 2: Create a dataframe that contains the unemployment data and display it</a></li>
    <li><a href="#Section_4">Question 3: Display a dataframe where unemployment was greater than 8.5%</a></li>
    <li><a href="#Section_5">Question 4: Use the function make_dashboard to make a dashboard</a></li>
     <li><a href="#Section_6">Question 5: Save the dashboard on IBM cloud and display it</a></li>
    </ul>
<p>
    Estimated Time Needed: <strong>180 min</strong></p>
</div>

<hr>

<h2 id="Section_1"> Define Function that Makes a Dashboard  </h2>

We will import the following libraries.

In [20]:
import pandas as pd
from bokeh.plotting import figure, output_file, show
from bokeh.io import output_notebook

In this section, we define the function <code>make_dashboard</code>. 
You don't have to know how the function works, you should only care about the inputs. The function will produce a dashboard as well as an html file. You can then use this html file to share your dashboard. If you do not know what an html file is don't worry everything you need to know will be provided in the lab.

In [6]:
def make_dashboard(x, gdp_change, unemployment, title, file_name):
    output_file(file_name)
    p = figure(title=title, x_axis_label='year', y_axis_label='%')
    p.line(x.squeeze(), gdp_change.squeeze(), color="firebrick", line_width=4, legend="% GDP change")
    p.line(x.squeeze(), unemployment.squeeze(), line_width=4, legend="% unemployed")
    show(p)

The dictionary  <code>links</code> contain the CSV files with all the data. The value for the key <code>GDP</code> is the file that contains the GDP data. The value for the key <code>unemployment</code> contains the unemployment data.

In [10]:
links={'GDP':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv',\
       'unemployment':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv'}

<h3 id="Section_2"> Question 1: Create a dataframe that contains the GDP data and display the first five rows of the dataframe.</h3>

Use the dictionary <code>links</code> and the function <code>pd.read_csv</code> to create a Pandas dataframes that contains the GDP data.

<b>Hint: <code>links["GDP"]</code> contains the path or name of the file.</b>

In [19]:
import pandas as pd
csv_path=links['GDP']
df=pd.read_csv(csv_path)
df

    date  level-current  level-chained  change-current  change-chained
0   1948          274.8         2020.0            -0.7            -0.6
1   1949          272.8         2008.9            10.0             8.7
2   1950          300.2         2184.0            15.7             8.0
3   1951          347.3         2360.0             5.9             4.1
4   1952          367.7         2456.1             6.0             4.7
5   1953          389.7         2571.4             0.3            -0.6
6   1954          391.1         2556.9             8.9             7.1
7   1955          426.2         2739.0             5.6             2.1
8   1956          450.1         2797.4             5.5             2.1
9   1957          474.9         2856.3             1.5            -0.7
10  1958          482.0         2835.3             8.4             6.9
11  1959          522.5         3031.0             4.0             2.6
12  1960          543.3         3108.7             3.7             2.6
13  1961          563.3         3188.1             7.4             6.1
14  1962          605.1         3383.1             5.6             4.4
15  1963          638.6         3530.4             7.4             5.8
16  1964          685.8         3734.0             8.4             6.5
17  1965          743.7         3976.7             9.6             6.6
18  1966          815.0         4238.9             5.7             2.7
19  1967          861.7         4355.2             9.4             4.9
20  1968          942.5         4569.0             8.2             3.1
21  1969         1019.9         4712.5             5.5             0.2
22  1970         1075.9         4722.0             8.5             3.3
23  1971         1167.8         4877.6             9.8             5.3
24  1972         1282.4         5134.3            11.4             5.6
25  1973         1428.5         5424.1             8.4            -0.5
26  1974         1548.8         5396.0             9.0            -0.2
27  1975         1688.9         5385.4            11.2             5.4
28  1976         1877.6         5675.4            11.1             4.6
29  1977         2086.0         5937.0            13.0             5.5
..   ...            ...            ...             ...             ...
39  1987         4870.2         8132.6             7.9             4.2
40  1988         5252.6         8474.5             7.7             3.7
41  1989         5657.7         8786.4             5.7             1.9
42  1990         5979.6         8955.0             3.3            -0.1
43  1991         6174.0         8948.4             5.9             3.5
44  1992         6539.3         9266.6             5.2             2.8
45  1993         6878.7         9521.0             6.3             4.0
46  1994         7308.8         9905.4             4.8             2.7
47  1995         7664.1        10174.8             5.7             3.8
48  1996         8100.2        10561.0             6.2             4.4
49  1997         8608.5        11034.9             5.7             4.5
50  1998         9089.2        11525.9             6.3             4.8
51  1999         9660.6        12065.9             6.5             4.1
52  2000        10284.8        12559.7             3.2             1.0
53  2001        10621.8        12682.2             3.4             1.7
54  2002        10977.5        12908.8             4.8             2.9
55  2003        11510.7        13271.1             6.6             3.8
56  2004        12274.9        13773.5             6.7             3.5
57  2005        13093.7        14234.2             6.0             2.9
58  2006        13855.9        14613.8             4.6             1.9
59  2007        14477.6        14873.7             1.8            -0.1
60  2008        14718.6        14830.4            -1.8            -2.5
61  2009        14418.7        14418.7             3.8             2.6
62  2010        14964.4        14783.8             3.7             1.6
63  2011        15517.9        15020.6             4.2             2.2
64  2012        16155.3        15354.6             3.6             1.8
65  2013        16691.5        15612.2             4.4             2.5
66  2014        17427.6        16013.3             4.0             2.9
67  2015        18120.7        16471.5             2.7             1.6
68  2016        18624.5        16716.2             4.2             2.2

[69 rows x 5 columns]

Use the method <code>head()</code> to display the first five rows of the GDP data, then take a screen-shot.

In [18]:
import pandas as pd
csv_path=links['GDP']
df=pd.read_csv(csv_path)
df.head()

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7

<h3 id="Section_2"> Question 2: Create a dataframe that contains the unemployment data. Display the first five rows of the dataframe. </h3>

Use the dictionary <code>links</code> and the function <code>pd.read_csv</code> to create a Pandas dataframes that contains the unemployment data.

In [24]:
import pandas as pd
csv_path=links['unemployment']
df=pd.read_csv(csv_path)
df

    date  unemployment
0   1948      3.750000
1   1949      6.050000
2   1950      5.208333
3   1951      3.283333
4   1952      3.025000
5   1953      2.925000
6   1954      5.591667
7   1955      4.366667
8   1956      4.125000
9   1957      4.300000
10  1958      6.841667
11  1959      5.450000
12  1960      5.541667
13  1961      6.691667
14  1962      5.566667
15  1963      5.641667
16  1964      5.158333
17  1965      4.508333
18  1966      3.791667
19  1967      3.841667
20  1968      3.558333
21  1969      3.491667
22  1970      4.983333
23  1971      5.950000
24  1972      5.600000
25  1973      4.858333
26  1974      5.641667
27  1975      8.475000
28  1976      7.700000
29  1977      7.050000
..   ...           ...
39  1987      6.175000
40  1988      5.491667
41  1989      5.258333
42  1990      5.616667
43  1991      6.850000
44  1992      7.491667
45  1993      6.908333
46  1994      6.100000
47  1995      5.591667
48  1996      5.408333
49  1997      4.941667
50  1998      4.500000
51  1999      4.216667
52  2000      3.966667
53  2001      4.741667
54  2002      5.783333
55  2003      5.991667
56  2004      5.541667
57  2005      5.083333
58  2006      4.608333
59  2007      4.616667
60  2008      5.800000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333
64  2012      8.075000
65  2013      7.358333
66  2014      6.158333
67  2015      5.275000
68  2016      4.875000

[69 rows x 2 columns]

Use the method <code>head()</code> to display the first five rows of the GDP data, then take a screen-shot.

In [25]:
import pandas as pd
csv_path=links['unemployment']
df=pd.read_csv(csv_path)
df.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

<h3 id="Section_3">Question 3: Display a dataframe where unemployment was greater than 8.5%. Take a screen-shot.</h3>

In [8]:
import pandas as pd
links={'GDP':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv',\
       'unemployment':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv'}
csv_path=links['unemployment']
df=pd.read_csv(csv_path)
df1=df[df['unemployment']>8.5]
df1

    date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333

<h3 id="Section_4">Question 4: Use the function make_dashboard to make a dashboard</h3>

In this section, you will call the function  <code>make_dashboard</code> , to produce a dashboard. We will use the convention of giving each variable the same name as the function parameter.

Create a new dataframe with the column <code>'date'</code> called <code>x</code> from the dataframe that contains the GDP data.

In [6]:
import pandas as pd
links={'GDP':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv',\
       'unemployment':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv'}
csv_path=links['GDP']
gdp_dataframe=pd.read_csv(csv_path)
x = pd.DataFrame(gdp_dataframe, columns=['date'])
x.head()

   date
0  1948
1  1949
2  1950
3  1951
4  1952

Create a new dataframe with the column <code>'change-current' </code> called <code>gdp_change</code>  from the dataframe that contains the GDP data.

In [7]:
import pandas as pd
links={'GDP':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv',\
       'unemployment':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv'}
csv_path=links['GDP']
gdp_dataframe=pd.read_csv(csv_path)
gdp_change = pd.DataFrame(gdp_dataframe, columns=['change-current'])
gdp_change.head()

   change-current
0            -0.7
1            10.0
2            15.7
3             5.9
4             6.0

Create a new dataframe with the column <code>'unemployment' </code> called <code>unemployment</code>  from the dataframe that contains the  unemployment data.

In [9]:
import pandas as pd
links={'GDP':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv',\
       'unemployment':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv'}
csv_path=links['unemployment']
unemploy_dataframe= pd.read_csv(csv_path)
unemployment = pd.DataFrame(unemploy_dataframe, columns=['unemployment'])
unemployment.head()

   unemployment
0      3.750000
1      6.050000
2      5.208333
3      3.283333
4      3.025000

Give your dashboard a string title, and assign it to the variable <code>title</code>

In [15]:
title = "Unemployement stats according to GDP"

Finally, the function <code>make_dashboard</code> will output an <code>.html</code> in your direictory, just like a <code>csv</code> file. The name of the file is <code>"index.html"</code> and it will be stored in the varable  <code>file_name</code>.

In [16]:
file_name = "index.html"

Call the function <code>make_dashboard</code> , to produce a dashboard.  Assign the parameter values accordingly take a the <b>, take a screen shot of the dashboard and submit it</b>.

In [24]:
make_dashboard(x=x, gdp_change=gdp_change, unemployment=unemployment, title=title, file_name=file_name)

<h3 id="Section_5">Question 5: Save the dashboard on IBM cloud and display it</h3>

From the tutorial <i>PROVISIONING AN OBJECT STORAGE INSTANCE ON IBM CLOUD</i> copy the JSON object containing the credentials you created. You’ll want to store everything you see in a credentials variable like the one below (obviously, replace the placeholder values with your own). Take special note of your <code>access_key_id</code> and <code>secret_access_key</code>. <b>Do not delete <code># @hidden_cell </code> as this will not allow people to see your credentials when you share your notebook. </b>

<code>
credentials = {<br>
 &nbsp; "apikey": "your-api-key",<br>
 &nbsp; "cos_hmac_keys": {<br>
 &nbsp;  "access_key_id": "your-access-key-here", <br>
 &nbsp;   "secret_access_key": "your-secret-access-key-here"<br>
 &nbsp; },<br>
</code>
<code>
   &nbsp;"endpoints": "your-endpoints",<br>
 &nbsp; "iam_apikey_description": "your-iam_apikey_description",<br>
 &nbsp; "iam_apikey_name": "your-iam_apikey_name",<br>
 &nbsp; "iam_role_crn": "your-iam_apikey_name",<br>
 &nbsp;  "iam_serviceid_crn": "your-iam_serviceid_crn",<br>
 &nbsp;"resource_instance_id": "your-resource_instance_id"<br>
}
</code>

In [166]:
credentials={
  "apikey": "MHwGmV2bylcL4KMtFP9SkCB0OLUsySCWZMGko3JD8stU",
  "cos_hmac_keys": {
    "access_key_id": "1c1557be6a5749cb93f731a4cec97310",
    "secret_access_key": "797b386899ee55b8506b5fb3e747a2442066bc41b345923c"
  },
  "endpoints": "https://control.cloud-object-storage.cloud.ibm.com/v2/endpoints",
  "iam_apikey_description": "Auto-generated for key 1c1557be-6a57-49cb-93f7-31a4cec97310",
  "iam_apikey_name": "WDP-Editor-pythonbasicsfordatascienceproject-donotdelete-pr-fb7pb57bqgtogx",
  "iam_role_crn": "crn:v1:bluemix:public:iam::::serviceRole:Writer",
  "iam_serviceid_crn": "crn:v1:bluemix:public:iam-identity::a/14d5bc96c3b84588b60433b993eaeb26::serviceid:ServiceId-12a2e73a-85ca-4bf5-99ac-9ef02ef5ff2b",
  "resource_instance_id": "crn:v1:bluemix:public:cloud-object-storage:global:a/14d5bc96c3b84588b60433b993eaeb26:1e2007fe-b21e-482e-8a1a-1ad555d3788b::"
}

You will need the endpoint make sure the setting are the same as <i> PROVISIONING AN OBJECT STORAGE INSTANCE ON IBM CLOUD </i> assign the name of your bucket to the variable  <code>bucket_name </code>

In [168]:
endpoint = 's3.ams.eu.cloud-object-storage.appdomain.cloud'

From the tutorial <i> PROVISIONING AN OBJECT STORAGE INSTANCE ON IBM CLOUD </i> assign the name of your bucket to the variable  <code>bucket_name </code>

In [131]:
bucket_name = 'pythonbasicsfordatascienceproject-donotdelete-pr-fb7pb57bqgtogx'

We can access IBM Cloud Object Storage with Python useing the <code>boto3</code> library, which we’ll import below:

In [114]:
import boto3

We can interact with IBM Cloud Object Storage through a <code>boto3</code> resource object.

In [132]:
resource = boto3.resource(
    's3',
    aws_access_key_id = credentials["cos_hmac_keys"]['access_key_id'],
    aws_secret_access_key = credentials["cos_hmac_keys"]["secret_access_key"],
    endpoint_url = endpoint,
)

We are going to use  <code>open</code> to create a file object. To get the path of the file, you are going to concatenate the name of the file stored in the variable <code>file_name</code>. The directory stored in the variable directory using the <code>+</code> operator and assign it to the variable 
<code>html_path</code>. We will use the function <code>getcwd()</code> to find current the working directory.

In [133]:
import os

directory = os.getcwd()
directory

'/home/dsxuser/work'

Now you must read the html file, use the function <code>f = open(html_path, mode)</code> to create a file object and assign it to the variable <code>f</code>. The parameter <code>file</code> should be the variable <code>html_path</code>, the mode should be <code>"r"</code> for read.

In [134]:
f = open(html_path, 'r')

To load your dataset into the bucket we will use the method <code>put_object</code>, you must set the parameter name to the name of the bucket, the parameter <code>Key</code> should be the name of the HTML file and the value for the parameter Body  should be set to <code>f.read()</code>.

In [169]:
# Fill up the parameters in the following function:

resource.Bucket(name=bucket_name).put_object(Key=file_name, Body=f.read())

ClientError: An error occurred (InvalidAccessKeyId) when calling the PutObject operation: The AWS Access Key ID you provided does not exist in our records.

In the dictionary <code>Params</code> provide the bucket name  as the value for the key <i>'Bucket'</i>. Also for the value of the key <i>'Key'</i> add the name of the <code>html</code> file, both values should be strings.

In [ ]:

Params = {'Bucket': 'pythonbasicsfordatascienceproject-donotdelete-pr-fb7pb57bqgtogx','Key': 'index.html' }

The following lines of code will generate a URL to share your dashboard. The URL only last seven days, but don't worry you will get full marks if the URL is visible in your notebook.

In [157]:
import sys
time = 7*24*60**2
client = boto3.client(
    's3',
    aws_access_key_id = credentials["cos_hmac_keys"]['access_key_id'],
    aws_secret_access_key = credentials["cos_hmac_keys"]["secret_access_key"],
    endpoint_url=endpoint,

)
url = client.generate_presigned_url('get_object',Params=Params,ExpiresIn=time)
print(url)

https://s3-api.us-geo.objectstorage.softlayer.net/pythonbasicsfordatascienceproject-donotdelete-pr-fb7pb57bqgtogx/index.html?Signature=SO1u6j%2FZrZ6HLD8LGLv50VB9eJs%3D&AWSAccessKeyId=cf0507bb2da04214b416d2da7c451bad&Expires=1557150939

<h2 id="Section_5">  How to submit </h2>

<p>Once you complete your notebook you will have to share it to be marked. Select the icon on the top right a marked in red in the image below, a dialogue box should open, select the option all&nbsp;content excluding sensitive code cells.</p>

<p><img height="440" width="700" src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/EdX/ReadMe%20files/share_noteook1.png" alt="share notebook" /></p>
<p></p>

<p>You can then share the notebook&nbsp; via a&nbsp; URL by scrolling down as shown in the following image:</p>
<p style="text-align: center;"> <img height="308" width="350" src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/EdX/ReadMe%20files/link2.png"  alt="share notebook" /> </p>

<hr>
<p>Copyright &copy; 2019 IBM Developer Skills Network. This notebook and its source code are released under the terms of the <a href="https://cognitiveclass.ai/mit-license/">MIT License</a>.</p>

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.
<p>
Other contributors: <a href="https://www.linkedin.com/in/yi-leng-yao-84451275/">Yi leng Yao</a>, <a href="www.linkedin.com/in/jiahui-mavis-zhou-a4537814a">Mavis Zhou</a> 
</p>

<h2>References :</h2>

<ul>
 <il>
     1) <a href="https://research.stlouisfed.org/">Economic Research at the St. Louis Fed </a>:<a href="https://fred.stlouisfed.org/series/UNRATE/"> Civilian Unemployment Rate</a>
   </il>   
    <p>
     <il>
    2) <a href="https://github.com/datasets">Data Packaged Core Datasets
       </a>
   </il> 
    </p>
    
</ul>
</div>